/* Стилове за контейнера на игрите */
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 150px; /* Разстояние отгоре */
}

/* Стилове за всяка игра (резултат) */
.game-card {
  background: linear-gradient(135deg, #84fab0, #8fd3f4);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  width: calc(30% - 20px); /* Намалена ширина на картата */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Подрежда съдържанието във вертикална посока */
  min-height: 320px; /* Осигурява минимална височина на картата */
}

/* Стилове за изображението на играта */
.game-image {
  width: 80%; /* Намалява ширината на изображението */
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Това ще запази пропорциите на изображението */
  margin: 0 auto 10px; /* Центрира изображението хоризонтално */
  flex-grow: 1; /* Позволява на изображението да расте и заема наличното пространство */
  display: flex;
  justify-content: center; /* Центрира съдържанието по вертикала */
  align-items: center; /* Центрира съдържанието по хоризонтала */
}

/* Стилове за заглавието на играта */
.game-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

/* Стилове за бутона "Подробности" */
.details-button {
  background: linear-gradient(135deg, #fa8484, #d76b6b);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  animation: move 1.5s infinite alternate;
  margin-top: auto; /* Това ще накара бутона да бъде разположен в долната част на картата */
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

/* Мобилен изглед */
@media screen and (max-width: 768px) {
  .game-card {
      width: 100%; /* 1 игра на ред на мобилни устройства */
      min-height: 280px;
  }

  .game-image {
      margin-bottom: 15px;
  }

  .game-title {
      font-size: 16px;
  }

  .details-button {
      font-size: 16px;
  }
}

/* Таблетен изглед (до 1024px) */
@media screen and (max-width: 1024px) {
  .game-card {
      width: calc(50% - 20px); /* 2 игри на ред на таблети */
      min-height: 300px;
  }
}

/* Десктоп изглед */
@media screen and (min-width: 1025px) {
  .game-card {
      width: calc(33.33% - 20px); /* 3 игри на ред на десктопи */
      min-height: 320px;
  }
}
