<div class="games-container">
    <div class="game-card">
      <img src="../assets/images/sdsd.jpg" alt="Игра 1" class="game-image" />
      <h3 class="game-title">Игра 1</h3>
      <button class="details-button">Подробности</button>
    </div> 
  
    <div class="game-card">
      <img src="../assets/images/dqsdsq.jpg" alt="Игра 2" class="game-image" />
      <h3 class="game-title">Игра 2</h3>
      <button class="details-button">Подробности</button>
    </div>
  
    <div class="game-card">
      <img src="../assets/images/Untitled.jpg" alt="Игра 3" class="game-image" />
      <h3 class="game-title">Игра 3</h3>
      <button class="details-button">Подробности</button>
    </div>
  </div>