.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, #1e90ff, #ff1493);
  color: white;
  text-align: center;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  position: relative;
  z-index: 1000;
  border-radius: 20px;
  overflow: hidden;
}

.footer .left-side,
.footer .center,
.footer .right-side {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer .social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer .left-side p {
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .left-side {
  margin-right: auto;
}

.footer .center {
  text-align: center;
  flex: 1;
}

.footer .right-side {
  text-align: right;
}

.footer .right-side p {
  margin: 5px 0;
}

.footer-phone-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  font-size: 14px;
  margin: 0;
}