<div class="header">
  <div class="nav-links-left">
    <a routerLink="/catalog" class="nav-button">Каталог</a>
    <a routerLink="/search" class="nav-button">Търсене</a>
  </div>

  <div class="logo-container">
    <a routerLink="/" class="nav-button logo-button">Gaming Point</a>
    <p class="tagline">Споделена страст</p>
  </div>

  @if (!isAuth) {
    <div class="nav-links-right">
      <a routerLink="/login" class="nav-button">Вход</a>
      <a routerLink="/register" class="nav-button">Регистрация</a>
    </div>
  } @else {
    <div class="nav-links-right">
      <a routerLink="/create" class="nav-button">Създай</a>
      <a (click)="logout()" class="nav-button">Излизане</a>
    </div>
  }
</div>
