<div class="header">
  <div class="nav-links-left">
    <a href="#" class="nav-button">Каталог</a>
    <a href="#" class="nav-button">Новини</a>
    <a href="#" class="nav-button">Търсене</a>
  </div>

  <div class="logo-container">
    <a href="#" class="nav-button logo-button">Gaming Point</a>
    <p class="tagline">Споделна страст</p>
  </div>

  <div class="nav-links-right">
    <a href="#" class="nav-button">Контакти</a>
    <a href="#" class="nav-button">Логин</a>
    <a href="#" class="nav-button">Регистрация</a>
  </div>
</div>