/* Нулиране на отстоянията за body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('./assets/images/199517.jpg') no-repeat center center/cover;
    font-family: Arial, sans-serif;
    color: #333;
    overflow-x: hidden; /* Предотвратява хоризонтално скролиране */
}

/* Контейнер за основното съдържание */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 60px; /* Пространство за хедъра */
    margin-bottom: 40px; /* Добавено разстояние между формата и футъра */
    flex-grow: 1; /* Позволява на контейнера да расте */
    overflow: hidden; /* Предотвратява разширяване извън екрана */
}

/* Футърът */
footer {
    display: flex; /* Възстановява футъра */
}
